## Week 11a: SQLite database

import sqlite3 -> import csv -> Establish connection sqlite3 connect and connect the cursor -> create table and end with cursor execute -> insert data -> query the table -> close the connection

In [1]:
import sqlite3
import csv

#### Establish a connection

In [3]:
con = sqlite3.connect('School.db')#, autocommit=False)
cursor = con.cursor()

#### Create a table

In [28]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [5]:
cursor.execute("INSERT INTO students VALUES (387423, 'Patrick', 'Ramos')")

#### Query the table

In [6]:
results = cursor.execute("SELECT * FROM students")

for res in results:
    print(res)

(387423, 'Patrick', 'Ramos')

In [7]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

[(387423, 'Patrick', 'Ramos')]

#### Close the connection

In [8]:
con.close()

In [ ]:
#normal error generated here because connection is closed before attempting to call the data.
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Reestablish connection

In [10]:
new_con = sqlite3.Connection('School.db')#, autocommit=False)
new_cursor = new_con.cursor()

In [11]:
results = new_cursor.execute("SELECT * FROM students").fetchall()
results

[]

In [13]:
new_con.close()

#### Redo with `commit`

#### Check if something is in process

In [ ]:
con.in_transaction

In [ ]:
con.total_changes

#### Insert data from csv

In [17]:
con = sqlite3.Connection("School.db")
cursor = con.cursor()

In [29]:
with open("students_1.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (int(row[2]), row[0], row[1]))

In [27]:
drop_table = """DROP TABLE students"""
cursor.execute(drop_table)
con.commit()

In [30]:
cursor.execute("SELECT * FROM students").fetchall()b

[(211134, 'Samantha', 'Peterson'),
 (264676, 'Margaret', 'Brooks'),
 (387423, 'Patrick', 'Ramos'),
 (399844, 'Pamela', 'Campbell'),
 (518833, 'Judith', 'Mendoza'),
 (657953, 'Walter', 'King'),
 (660198, 'Justin', 'Kelly'),
 (669408, 'Victoria', 'Lee'),
 (705400, 'Betty', 'Murphy'),
 (962205, 'Emily', 'Reed')]

In [31]:
con.commit()
con.close()

#### Delete database

### Exercises

 - recreate the database called `School` with a table called `students`; add the `students_1.csv` data back into the table
 - add the students in the `students_2.csv` file to the `students` table in the database
 - in the `School` database, create a new table called `marks` and add the data in the `marks.csv`file to it